@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;400&display=swap');

.contdetail{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
.country{
    position: relative;
    top: 5%;
    display: flex;
    padding: 5%;
    width: 60vw;
    height: 40vh;
    background-color: #14356d5e;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px black;
}
.texxt{
    position: relative;
    top: -2rem;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
    justify-content: space-evenly   ;
    align-content: center;
    justify-items: center;
    text-align: left;
    height: 45vh;
}
.linkAct{
    position: absolute;
    bottom: 0;
    right: 0;
}
.fa{
    text-align: center;
    font-size: 60px;
    white-space: nowrap;
    margin: 10%;
}
.fo{
    letter-spacing: 1.5px;
    height: 12%;
    font-size: 20px;
}
.fi{
    padding-left: 15px;
    font-style:inherit;
    font-size: 18px;
}
.volver{
    font-size:20px;
    font-family:Verdana,Helvetica;
    color:rgb(255, 255, 255);
    background:#2b5668e3;
    border: 1px solid rgba(38, 72, 128, 0.65);
    width:100px;
    height:40px;
    border-radius: 10px;
    margin-right: 40px;
}
.volver:hover{
    transition: 0.2s;
    border: 1px solid red;
    background-color: rgba(192, 11, 87, 0.698);
}


.img{
    width:400px;
    border: 5px solid rgba(9, 29, 66, 0.349);
    box-shadow: 0px 10px 30px black;
    border-radius: 0px 0px 0px 0px;
}
.img:hover{
    transition: 0.6s;
    border: 1px solid rgba(255, 255, 255, 0.445);
    box-shadow: 0 1px 30px rgba(46, 206, 255, 0.76);
}
@media (max-width: 576px){
    .img{
        position: relative;
        top: 5%;
        width: 80vw;
    }
    .country{
        position: relative;
        top: 8%;
        width: 90vw;
        height: 75vh;
        border-radius: 0%;
        flex-direction: column;
        justify-content: space-between;
    }
    .texxt{
        position: relative;
        top:5vh;
        left: 0%;
        margin: 0;
        height: 40vh;
        width: 100%;
    }
    .fa{
        padding: 0;
        margin-bottom: 10%;
        font-size:xx-large;

    }
    .fo{
        margin:0;
    }
    .volver{
        z-index: 3;
    }
}