@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap');


/* *{
  margin: 0px;
  padding: 0px;
}
img{

}
 */

body {
  font-family: 'KoHo', sans-serif;
  background-color: #223b4d;
}



