
.image {
  max-width: 100%;
  border-radius: 6% 6% 0 0;
  border: 2px solid rgba(255, 255, 255, 0.616);
  }
  .cont {
    position: relative;
    display: grid;
    margin-left: 60px;
    background-color: rgba(1, 111, 255, 0.089);
    border-radius: 60px;
    grid-template-columns: 1fr;
    gap: 40px;
    box-shadow: 0 10px 60px rgba(4, 19, 29, 0.705);
    backdrop-filter: blur(5px);
    padding: 80px 100px 100px 100px;
    background-color: rgba(28, 64, 165, 0.198);
  }
  .cont .card{
    backdrop-filter: blur(10px);
    background-color: #072a663f;
    padding: 20px;
    box-shadow: 0px 5px 10px rgb(4, 19, 29);
    margin-top: -12px;
    border-radius: 6% 6% 6% 6%;
    border: 1px solid rgba(1, 3, 22, 0.376);
    box-shadow: 0 10px 10px rgba(32, 45, 54, 0.5);
  }
  .card:hover{
    transition: 0.3s;
    border: 5px solid rgba(97, 255, 229, 0);
    background-color: #13202e;
    box-shadow: 0 0px 50px rgb(20, 143, 231);
  }
  .cont .text .titulo {
    padding-top: 20px;
  }
  .cont .text .info .infosecundaria {
    font-weight:300;
    padding: 0 0 0 7px
  }

  .buttonsNP{
    position: relative;
    top:-1em;
    display: flex;
    justify-content: center;
  }
  .backDesactivate{
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 10px 20px;
    appearance: none;
    margin-right: 40px;
    background-color: #192027;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.678);
    border-radius: 4px;
    opacity: .5;
  }
  .next {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 10px 20px;
    appearance: none;
    background-color: #192027;
    color: white;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.603);
    cursor: pointer;
    margin-left: 40px;
  }
  .next:hover{
    transition: 0.2s;
    color: rgb(0, 242, 250);
    border-color: rgba(0, 195, 255, 0.637);
    box-shadow: 0px 0px 20px rgb(0, 255, 255);
  }
  .back {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 10px 20px;
    appearance: none;
    margin-right: 40px;
    background-color: #192027;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.678);
    border-radius: 4px;
    cursor: pointer;
  }
  .back:hover{
    transition: 0.2s;
    color: rgb(0, 242, 250);
    border-color: rgba(0, 195, 255, 0.637);
    box-shadow: 0px 0px 20px rgb(0, 255, 255);
  }
  
@media (max-width: 1920px) {
    body {
      padding: 30px 70px;
    }
  }
  @media (max-width: 1920px) {
    .cont {
        grid-template-columns: repeat(5, 1fr);
        gap: 70px;
    }
  }
  @media (max-width: 1344px) {
    .cont {
        grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 1200px) {
    .cont {  
      grid-template-columns: repeat(2,50%);
      position: absolute;
      left: -10%;
      width: 80vw;
    }
    .card{
      width: 300px;
    }
  }
  
  @media (max-width: 850px){
    .cont {  
      grid-template-columns: repeat(2,50%);
      position: absolute;
      left: -10%;
      width: 65vw;
  }

  .card{
    position: relative;
    width: 35vw;
    left: -30%;

  }
  } 
  
  @media (max-width: 576px){

    .cont {
      position: relative;
      left:-3%;
      grid-template-columns: repeat(2, 45%);
      gap: 3%;
      align-items: center;
      justify-content: center;
      width: 100vw;
      border-radius: 2px;
      margin: 0;
      padding: 0;
      z-index: 0;
    }
    .card{
      width: 35vw;
      height: 28vh;
      position: relative;
      top:20%;
      left: 0;
      z-index: 1;

    }
    .buttonsNP{
      position: relative;
      top:-10px;
      z-index: 0;
      left: 10%;
    }
    .text{
      height: 18vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .titulo{
      padding: 0;
      margin: 0;
    }
    .info{
      margin: 1px;
    }
    .infosecundaria{
      text-align: center;
      font-size: 15px;
    }
    .next,
    .back{
      width: 30%;
      height: 5vh;
      opacity: .75;
      justify-content: center;
      text-align: left;
      font-size: 80%;
      align-content: center;
      justify-items: center;
      align-items: center;
    }
    .backDesactivate{
      width: 30%;
      height: 5vh;
      justify-content: center;
      text-align: left;
      font-size: 80%;
      align-content: center;
      justify-items: center;
      align-items: center;
    }
  
}
body{
  margin:0;
  padding: 0;
}