@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    background-image: url('https://www.wallpapertip.com/wmimgs/1-15799_8211-earth-from-space-space-wallpaper-4k-wallpaper.jpg') ;
}
.containerr {
    margin: 0;
    display: flex;
    align-items: center;
    height: 860px;
    width: 1860px;
    border: 1px solid black;
    border-radius: 40px;
    backdrop-filter: blur(2px);
    box-shadow: 0px 10px 30px black;
    background-color: #470cd10a;
}
.titlee{
    display: flex;
    background: linear-gradient(to right, #105f9459, #1a488338, #06156949, #0615694d, #07197e3d, #0615693a, #1a488349, #1a488338);
    border-radius: 40px;
    background-size: 500%;
    padding: 50px;
    box-shadow: 0px 10px 30px black;
    margin-bottom: 430px;
    font-size: 150px;
    animation: color 10s infinite;
}

@keyframes color {
    from {       
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}
.btn {
    border: none;
    width: 160px;
    height: 90px;
    margin-left: 100px;
    border-radius: 40px;
    background: linear-gradient(to right, #105f9496, #1a4783be, #061569a2, #061569a2, #07197ed3, #0615698e, #1a4783be, #166ea8a1);
    cursor: pointer;
    background-size: 500%;
    box-shadow: 0px 0px 30px rgb(9, 108, 133);
    outline: none;
    font-size: 20px;
    animation: color 10s infinite;     
}
.btn:hover{ 
    transition: 0.3s; 
    height: 160px;
    border-radius: 90px;
    border:3px solid cyan;
    box-shadow: 0px 0px 30px rgb(0, 204, 255);
    font-size: 24px;
}
