@import url('https://fonts.googleapis.com/css?family=Raleway');

.containerr {
    display: flex;
    width: 1900px;
    height: 150px;
    background-image: url('../assets/background.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 0 750px 0;
    background-color: black;
    margin-bottom: 20px;
    font-family: Raleway;
}
.titlee{
    display: flex;
    margin-top: 80px;
    margin-left: 40px;
    font-size: 60px;
}
.btn {
    position: relative;
    margin-top: 500px;
    padding: 2%;
    border: none;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(26, 59, 112, 0.712);
    cursor: pointer;
    outline: none;
    font-size: 18px;
    transition: 0,5s all ease;
    
}
.btn:hover{    
    background-color: rgba(50, 93, 129, 0.719);

}
