*   {
    outline:none !important;
    text-decoration: none;
    color:seashell;
}

.header {
    display: flex;
    background: linear-gradient(#3a4f72, #192027);
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    margin-bottom: 30px;
    width: 97.9%;
    border-radius:10px 10px;
}


.selectors {
  border: none;
  outline: none;
  background-color: var(--color-bg-secondary);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 20px 0;
  border-radius: 0.400rem;
  opacity: 0.5;
  letter-spacing: 1px;
}

.form-search {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 1rem;
  background-color: var(--color-bg-secondary);
  border-radius: 0.375rem;
  border: 1px solid rgba(31, 30, 30, 0.678);
  width: 80%;
}

.form-search i{
  color: var(--color-text);
  opacity: 0.5;
}

.form-search input {
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 1rem;
  color: white;
  letter-spacing: 1px;
}

/* Media Configs */

@media (max-width: 1920px) {
  body {
    padding: 30px 50px 10px 10px;
  }

  .form-search{
    width: 800px;
  }

  .form-search input {
    width: 100%;
  }

}
@media (max-width: 1000px) {
  body {
    padding: 25px 50px 5px 5px;
  }
  .form-search{
    width: 650px;
  }
  .form-search input {
    width: 300px;
  }
}

@media (max-width: 750px) {
  body {
    padding: 20px 40px 0px 0px;
  }
  .form-search{
    width: 500px;
  }
  .form-search input {
    width: 200px;
  }
}

@media (max-width: 600px) {
  body {
    padding: 20px 30px 0px 0px;
  }
  .header{
    padding: 20px 30px;
  }
  .form-search{
    width: 300px;
  }
  .form-search input {
    width: 100px;
  }
}
